@import url('./reset.css');

@font-face {
    font-family: 'Dana';
    src: url(../public/font/Dana/woff2/DanaFaNum-Medium.woff2);
}

:root {
    --white-color : #fff;
    --gray-color : #ADB8CC;
    --dark-color : #1A2233;
    --primary-color :#33BFFF ;
    --secondary-color : #FF6633;
}

* , html , body {
    font-family: 'Dana';
}